<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ECG visualization</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    </head>
    <body>
        <div id="chart-container"></div>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script type="module">
        async function getMeanECGData() {
            try {
                const response = await fetch("http://127.0.0.1:5000/ecg-mean");
                const ecgObj = await response.json();
                console.log(ecgObj);

                return ecgObj;
            }
            catch(error) {
                console.log(error)
            }
        }

        async function main() {
            const ecgData = await getMeanECGData();

            const labels = ecgData.map(data => new Date(data["Time"]));
            const values = ecgData.map(data => Number(data["240507PIG:ECG"]));

            const ctx = document.getElementById("myChart");

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Data",
                        data: values,
                        borderColor: "red",
                        borderWidth: 1,
                        pointRadius: 0
                    }]
                },
                options: {
                    parsing: false,
                    scales: {
                        x: {
                            type: "time",
                            time: { unit: "minute" }
                        }
                    }
                }
            });


           
            // d["240507PIG:ECG"];
            // d["Time"];

        }
        main();
    </script>
</body>
</html>