<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ECG visualization</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->
        <script src="https://cdn.plot.ly/plotly-3.4.0.min.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="chart-container">
            <div id="chart"></div>
           <div id="list-arythmia-container">
                <div id="search-container">
                    <input type="text" id="search-arythmia" placeholder="Search arythmia type">
                    <button id="search-btn">Search</button>
                </div>
            <div id="list-arythmia"></div>
        </div>
        </div>
        <div id="row">
            <div id="colour-arythmia" class="arythmia-card">
                <div class="entry-header">
                    <h3 class="entry-title">Arythmia type and number of episodes</h3>
                </div>
            
                <ul class="arythmia-list">
                    <li><span class="label"><span class="dot none"></span>Sinus</span> 391</li>
                    <li><span class="label"><span class="dot green"></span>IVR</span> 206</li>
                    <li><span class="label"><span class="dot blue"></span>Noise</span> 185</li>
                    <li><span class="label"><span class="dot orange"></span>Other</span> 39</li>
                    <li><span class="label"><span class="dot purple"></span>PVCs</span> 75</li>
                </ul>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>